// These are custom variables property of Cultural Portobelo based in a bootstrap framework

// Color System

// Brand color
$color-blue:#3569b1;
$color-deep-blue:#173054;

// Secondary color
$bg-light-blue:#e9edf2;

// Space base
$space-base:24px;
