<div class="row">
	<div class="col-md-offset-2 col-md-8 panel panel-default">
	<h1>Nuevo Cliente</h1><br>
		<%= render 'form' %>
		<%= link_to 'Todos los clientes', clients_path, :class =>"btn btn-default allcat-button" %>
	</div>
</div>