<div class="row">
	<div class="col-md-offset-2 col-md-8 panel panel-default">
		<h2>Nuevo Cliente</h2><br>
		<%= render 'form' %>
		<%= link_to 'Todas los clientes', clients_path, :class =>"btn btn-default allcat-button" %>
	</div>
</div>
