<%= form_for order_item, remote: true do |f| %>
  <div class="input-group">
    <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
    <div class="input-group-btn">
      <%= f.hidden_field :book_id, value: book.id %>

      <%= button_tag(type: "submit", class: "btn btn-primary add-book-btn") do %>
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      <% end %>
    </div>
  </div>
<% end %>