<div class="row">
  <div class="col-md-offset-2 col-md-8 panel panel-default">
    <h5>Nueva cotización</h5><br>
    <!-- Quotation _form.html.erb -->
    <%= render 'form' %>
    <%= link_to 'Regresar', quotations_path %>
  </div>
</div>
