<div class="container">
  <div class="row">
    
  <h1>Para quien es la cotización?</h1>
  <%= form_for @quotation do |f| %>
    <%= f.collection_select :client_id, Client.all, :id, :name %> <br> <br>
    <p>
    	<%= f.submit_tag "Siguiente" %>
    </p>
  <% end %>
  </div>
</div>