<div class="jumbotron">
	<h1>Nosotros</h1>
	<p>libreria juridica en la ciudád de Panamá/p>
	<p>Registrate, es completamente <b>gratis</b>!</p>
	<p><%= link_to 'Regístrate', new_user_registration_path, class: 'btn btn-primary btn-lg' %></p>
</div>