<div class="jumbotron">
	<h1>Editorial Portobelo</h1>
	<p>Descripción de la librería: fundación, historia, misión, visión, etc.</p>
<!-- 	<p>Registrate, es completamente <b>gratis</b>!</p> -->
</div>

