<div class="jumbotron">
	<div class="row">
			
		
		<div class="col-md-12 vertical-center about-container">
			<h2>Editorial Portobelo</h1>

			<p>Desde el año 1980 hemos estado comprometidos con la promoción de los libros en Panamá,como representantes de las más importantes casas editoriales en lengua española, como directores regionales para Centroamérica, importadores, distribuidores, promotores.
			</p>

			<p>
				Desde el año 1993 iniciamos la labor de libreros al abrir la Librería El Campus,dedicada a las ciencias sociales, y orientada básicamente al sector universitario,profesores y profesionales.
				El año 1995 iniciamos Editorial Portobelo, entidad que ha publicado hastala fecha más de 850 títulos de autores nacionales de todas las ciencias sociales.
			</p>

			<p>
				El año 2005 abrimos la Librería Cultural Portobelo orientando la importación de libros a todas las ramas del derecho.Continuamos con la labor de ser la editorial más importante de Panamá.</p>	
			</p>
		</div>
	</div>

<div class="row">
	<div class="col-md-12 vertical-center mision">
		<h2>Misión</h2>
		<p>
			Rescatar el pasado, <br>
			atesorar el presente <br>
			y promover el futuro <br>
			de la cultura y las letras panameñas
		</p>
		</div>
</div>

<div class="row">	
	<div class="col-md-12 vertical-center vision">
		<h2>Visión</h2>
		<p>
			Ser un núcleo cultural para reunir los mejores esfuerzos de los intelectuales panameños dedicados a las ciencias sociales.
			Ser un lugar de encuentro de las corrientes culturales actuales de todo el país. 
		</p>
		<p>
			Publicar los mejores aportes de los escritores panameños. <br>
			Dar a conocer a nivel local e internacional los valores culturales del país.
		</p>
	</div>

</div>
<!-- 	<p>Registrate, es completamente <b>gratis</b>!</p> -->
</div>

