<div class="product-filter-container">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav filter">
        <li class="active"><a class="search-field" href="#" data-keyword="">Catálogo completo<span class="sr-only">(current)</span></a></li>
        <li><a class="search-field" href="#" data-keyword="códigos">Códigos</a></li>

        <li><a class="search-field" href="#" data-keyword="derecho ambiental">Derecho Ambiental</a></li>

        <li><a class="search-field" href="#" data-keyword="ciencias politicas">Ciencias Politicas</a></li>
        
        <li><a class="search-field" href="#" data-keyword="derecho civil">Derecho Civil</a></li>

        <li><a class="search-field" href="#" data-keyword="autores-nacionales">Autores Nacionales</a></li>
      </ul>
    </div>
  </div>
</div>
