<div class="panel panel-default">
    <h4>Recomendaciones</h4>
    <div class="panel-body">

        <div class="">

            <% @books.each do |book| %>
                <div class="col-xs-12 text-center">

                    <div class="well sm-well book-container">
                        <div class="row">

                            <div class="row">
                                <div class="col-md-12 img-container">
                                    <%= link_to image_tag(book.cover.url(:medium), class: "img img-responsive img-rounded well-image"), book %>
                                </div>
                            </div><!-- Portada -->

                            <div class="col-xs-12 book-info">

                                <div class="row">
                                    <h6><strong><%=h truncate(book.title, :length => 45, :omission => '...') %></strong></h6>
                                </div>

                                <div class="row">
                                    <p><strong>Autor: </strong><%= book.author %></p>
                                </div>


                            </div><!-- Titutlo|Autor -->
                        </div>

                    </div>
                </div><!-- Books -->
            <% end %>

        </div>

    </div>
    <div class="panel-footer">Panel footer</div>
</div>
