<div class="panel product-filter-container">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    	<ul class="nav nav-pills nav-stacked">
      	<li class="active" id="all-books"><a href="#">Catálogo completo<span class="sr-only">(current)</span></a></li>
      	<li id="ciencias-politicas"><a href="#"><%= t("CienciasPoliticas")%></a></li>
      	<li id="derecho-penal"><a href="#"><%= t("DerechoPenal")%></a></li>
      </ul>
	    </div>
	  </div>
	</div>

        	



  
  

  