<div class="product-filter-container">
    <div class="collapse navbar-collapse filter-container" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav filter">
        <li class="active"><a class="search-field" href="#" data-keyword="">Catálogo completo<span class="sr-only">(current)</span></a></li>
        <li><a class="search-field" href="#" data-keyword="códigos">Códigos</a></li>
        <li><a class="search-field" href="#" data-keyword="derecho ambiental">Derecho Ambiental</a></li>
        <li><a class="search-field" href="#" data-keyword="ciencias politicas">Ciencias Politicas</a></li>
        <li><a class="search-field" href="#" data-keyword="derecho civil">Derecho Civil</a></li>
        <li><a class="search-field" href="#" data-keyword="autores nacionales">Autores Nacionales</a></li>
        <li><a class="search-field" href="#" data-keyword="derecho administrativo">Derecho Aministrativo</a></li>
        <li><a class="search-field" href="#" data-keyword="derecho constitucional">Derecho Constitucional</a></li>
        <li><a class="search-field" href="#" data-keyword="derecho mercantil">Derecho Mercantil</a></li>
        <li><a class="search-field" href="#" data-keyword="derecho penal">Derecho Penal</a></li>
        <li><a class="search-field" href="#" data-keyword="estudio del derecho">Estudio del derecho</a></li>
        <li><a class="search-field" href="#" data-keyword="ciencias politicas y sociales">Ciencias Pol. y Soc.</a></li>
        <li><a class="search-field" href="#" data-keyword="derecho procesal">Derecho Procesal</a></li>
        <li><a class="search-field" href="#" data-keyword="derecho civil">Derecho Civil</a></li>
        <li><a class="search-field" href="#" data-keyword="criminologia">Criminología</a></li>
        <li><a class="search-field" href="#" data-keyword="derechos humanos">Derechos Humanos</a></li>
        <li><a class="search-field" href="#" data-keyword="historia">Historia</a></li>
        <li><a class="search-field" href="#" data-keyword="administracion empresarial">Administración Empr.</a></li>
        <li><a class="search-field" href="#" data-keyword="obras de politica y derecho">Obras de Pol. y D.</a></li>
        <li><a class="search-field" href="#" data-keyword="psicologia y pedagogia">Psicología y Pedagogía</a></li>
        <li><a class="search-field" href="#" data-keyword="derecho financiero">Derecho Financiero</a></li>
        <li><a class="search-field" href="#" data-keyword="derecho internacional">Derecho Internacional</a></li>
        <li><a class="search-field" href="#" data-keyword="filosofia del derecho">Filosofia Del Derecho</a></li>
        <li><a class="search-field" href="#" data-keyword="derecho laboral">Derecho Laboral</a></li>
        <li><a class="search-field" href="#" data-keyword="recursos judiciales">Recursos Judiciales</a></li>
        <li><a class="search-field" href="#" data-keyword="normas educativas">Normas Educativas</a></li>
        <li><a class="search-field" href="#" data-keyword="derecho familiar">Derecho Familiar</a></li>
        <li><a class="search-field" href="#" data-keyword="medicina legal">Medicina Legal</a></li>
        <li><a class="search-field" href="#" data-keyword="derecho comercial">Derecho Comercial</a></li>
        <li><a class="search-field" href="#" data-keyword="contratos">Contratos</a></li>
        <li><a class="search-field" href="#" data-keyword="literatura">Literatura</a></li>
        <li><a class="search-field" href="#" data-keyword="educacion">Educación</a></li>
        <li><a class="search-field" href="#" data-keyword="derecho maritimo">Derecho Maritimo</a></li>
        <li><a class="search-field" href="#" data-keyword="psiquiatria forense">Psiquiatria Forense</a></li>
        <li><a class="search-field" href="#" data-keyword="derecho agrario">Derecho Agrario</a></li>
        <li><a class="search-field" href="#" data-keyword="arte">Arte &nbsp &nbsp &nbsp &nbsp &nbsp</a></li>
        <li><a class="search-field" href="#" data-keyword="biografias">Biografías</a></li>
      </ul>
    </div>
</div>
