<% if !@quotation_item.nil? && @quotation_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @quotation_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% if @quotation_items.size == 0 %>
  <p class="no-books-msg text-center">
    No has agregado ningun libro a la cotización.  Por favor <%= link_to "regresa", books_path %> y agrega algunos libros.
  </p>
<% else %>
  <% @quotation_items.each do |quotation_item| %>
    <%= render 'carts/cart_row', book: quotation_item.book, quotation_item: quotation_item, show_total: true %>
  <% end %>
<% end %>


