// Place all the styles related to the Quotations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.add-book-btn {
	padding: 6px;
}
div#mynewclient.modal.fade.in {
	padding-right: 600px !important;
}
.quotation-client {
	padding-top: 40px;
}	
.quotation-new-client-button {
	margin-bottom: 20px;
}
.subtotal, .total {
	font-size: 20px;
}