<div class="panel">
	
	<div class="panel-heading">
		<h3 class="panel-title"><%= order_item.book_id %></h3>
		<p><%= order_item.order_id %></p>
	</div>

	<div class="panel-body">
		<div><%= time_ago_in_words(order_item.created_at) %></div>
		<br>
		<div class="btn-group" role="group" aria-label="...">
			<button class="btn btn-warning" type="button" data-toggle="modal" data-target="#">Edit</button>
			<%= link_to 'Destroy', order_item, method: :delete, class: "btn btn-danger", remote: true %>
		</div>
	</div>
</div>