.booksGrid{
  @extend .row;
  margin-bottom:$space-base * 3;
}
.booksGrid__item{
  @extend .col-lg-3;
  border-bottom: solid $space-base / 12 $bg-light-blue;
  padding-top:$space-base * 2;
  padding-bottom:$space-base * 2; 
}
.booksGrid__thumbnail{
  @extend .img-thumbnail, .border-0;
  max-height: $space-base*6;
  margin-bottom: $space-base;
}
.booksGrid__title{
  height:2rem;
}
.booksGrid__price{
  margin-top:$space-base/2;
}