<div class="row contact-container">
	<div class="col-md-6">
		<p class="contact-message">Nos gustaria recibir sus dudas y sugerencias. Su opinión es lo más importante para nosotros	</p>
		<%= render 'form' %>
	</div>
	<div class="col-md-6">
		<%= render partial: 'layouts/location' %>
	</div>
</div>
