nav.navbar.navbar-static-top.navbar-default{
  margin-bottom: 0;
}
.navbar-nav{
  font-size: 14px;
}

.nav.navbar-nav>li>a {
 padding-top: 40px;
 padding-bottom: 40px;
}

a.navbar-brand{
  padding: 0;
}
.navbar-brand{
  padding: 0;
  >img{
    height: 100%;
  }
}
