nav.navbar.navbar-default{
	background: #2574A9;
	ul li a {
		color: white;
	}
}
div.collapse {
	ul li a {
		color: black;
	}
}
ul.nav li a{
	padding: 65px 49px -1px 0px;
	font-size: 24px;
	padding-left: 20px;
}
//Remove the default bootstrap margin from the main header
nav.navbar.navbar-default {
	margin-bottom: 0;
}
.navbar-left {
   padding-top: 15px;
}

nav.navbar-nav.navbar-left {
   padding-left: 27px;
}
a.right.carousel-control {
	right: 44px;
}