// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.all-books {
	a:hover {
		color: black;
	}
}
#books {
	margin: 0 auto;
}
.main_content {
	width: 100%;
	height: 1200px;
	border-radius: 3px;
	background-color: white;
	padding: 20px;
}
.box {
	margin: 5px;
	width: 205px;
	height: 400px;
	img {
		width: 100%;
		overflow: inherit;
	}
}
.panel-body {
	p {
		font-style: normal;
	}
	#index-title {
		color: #7f8c8d;
		font-weight: bold;
		font-size: 13px;
	}
	#index-author {
		color: #7F7F7F;
		font-size: 11px;
	}
	#index-price {

	}
}

.actions a {
	color: #7f8c8d;
}
.side_menu {
	width: 100%;
	height: 300px;
	border-radius: 3px;
	background-color: white;
	padding: 20px;
}
.novedades {
	text-align: center;
}
p.categorias_sidemenu {
	text-align: center;
}
.center {
	text-align: center;
}
.book_info {
	line-height: 0;
	li {
		list-style-type: none;
	}
}
.category_list {
	li {
		list-style-type: none;
	}
}