.root_wrapper {
	padding-top: 20px;
}
div.book-filter {
  margin-left: 20px; 
}
.books {
   margin-left:98px;
   top:0;
   max-width:1600px;
   padding-bottom:100px;
   position:absolute;
   img {
   	max-height: 260px;
    vertical-align: middle;
    padding: 5px;
   }
}
.row-centered {
    text-align:center;
}
.col-centered {
   display:inline-block;
    float:none;
}