.books {
padding-top: 20px;
max-width: 100%;
}

.book-container {
	height: 325px;
	position: relative;
	.img-container {
		.well-image {
			width: 73%;
			height: 200px;
			margin: 0 auto;
		}
	}
	.book-info{
		margin: 0 auto;
		position: absolute;
	}
}

.pagination-wrapper{
	text-align: center;
	.col-centered {
	  display:inline-block;
	  float:none;
	  margin: 0 auto;
	}
}