.subheader ul li {
	list-style-type: none;
	display: inline-block;
	padding: 0 10px 0 10px;
}
.subheader ul {
	margin: 16px 0 5px 0;
  font-size: 16px;
}
.searchbar {
	float: right;
	margin: 5px 0 5px 0;
}
.novedades {
	padding-bottom: 20px;
}
