// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.novedades {
	background-color: #fff;
}
.new_search {
	background-color: #446CB3;
}
a.atras_button {
	color: white;
	width: 100%;
	margin: 0 auto;
}