.show-wrapper {
	padding-top: 20px;
	width: 100%;
	margin: 0 auto;
	.show-bookinfo {
		border-radius: 5px;
		background: white;
		margin-bottom: 20px;
		.book-cover  {
			width: 150px;
			height: 100%;
			float: left;
			img {
				padding-top: 15px;
				max-width: 130px;
				margin-bottom: 90px;
			}
		}
		.book-info {
			padding-top: 10px;
			width:700px;
			height: 100%;
			margin-left: 30px;
			li {
				list-style-type: none;
			}
			.book-category {
				display: table-cell;
			}
			.book-description p, h4 {
				padding-top: 10px;
				padding-left: 79px;
				max-width: 90%;
				text-align: justify;
			}
		}
		
	}
}
