<div class="row category-index-wrapper">
  <div class="col-md-4"> 
    <h1>Listado de Categorías</h1>
    <table class="table category-table">
      <div class="col-md-4">
        
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Opciones</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td><%= category.name %></td>
            <td><%= link_to 'Editar', edit_category_path(category) %></td>
            <td><%= link_to 'Eliminar', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
      </div>
    </table>

    <br>
    <%= link_to 'Nueva Categoría', new_category_path, :class =>"btn btn-default" %>
  </div>
</div>
