<div class="books">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2">
				<%= render 'books/books_filters' %>
			</div>
			<div class="col-md-10">
				<%= render 'books/index' %>
			</div>
		</div>
	</div>
</div>