<div class="col-xs-12 search-row">
search bar
</div>

<div class="col-xs-12 categories">
categorias e iconos
</div>

<div class="col-xs-2 featured">
  List of featured categories
</div>

<div class="col-xs-10 books">
  BOOKS 
</div>