<div class="row">
  <div class="col-md-9">
    <nav class="subheader">
      <ul>
        <li>Derecho</li>
        <li>Psicología</li>
        <li>Arquitectura</li>
        <li>Nacionales</li>
        <li>Importados</li>
        <li>Códigos</li>
      </ul>
    </nav>
  </div>
  <div class="col-md-3">
    <%= form_for Search.new, html: {class: "pure-form"} do |s| %>

      <div class="field">
        <%= s.label :keywords %> 
        <%= s.text_field :keywords %>
      </div>
    <% end %>
    <%= link_to "Busqueda avanzada", new_search_path %>
  </div>
</div>