<div class="row">
  <div class="col-md-9">
    <nav class="subheader">
      <ul>
        <li>Derecho</li>
        <li>Psicología</li>
        <li>Arquitectura</li>
        <li>Nacionales</li>
        <li>Importados</li>
        <li>Códigos</li>
      </ul>
    </nav>
  </div>
  
</div>